.c1 {
	background-color: rgb(61,92,153); /*#3D5C99*/
	color: #FFFFA3; 
	border-color: #FFFFA3;
	}
.c2 {
	background-color: rgb(82,122,204); /*#527ACC*/ 
	color: #FFFF85;
	}
.c3 {
	background-color: rgb(102,153,255); /*#6699FF*/ 
	color: #FFFF66; 
	border-color: #FFFF66;
	}
.c4 {
	background-color: #85ADFF; 
	color: #CCCC52;
	}
.c5 {
	background-color: #A3C2FF; 
	color: #99993D;
	}
.cf {
	background-color: lightgreen; 
	color: green; 
	border-color: green;
	}

