c1 {background-color: #3D5C99; color: #FFFFA3;}
c2 {background-color: #527ACC; color: #FFFF85;}
c3 {background-color: #6699FF; color: #FFFF66;}
c4 {background-color: #85ADFF; color: #CCCC52;}
c5 {background-color: #A3C2FF; color: #99993D;}
