/*Style reset by Eric Meyer*/
@import 'reset';

/*Personal style*/
@import 'colors';
@import 'custom';

body {font-size: 18px;}

@import 'breakpoints';

$i: 10;
@while $i > 0 {
  .cols-#{$i} { width: 100% / $i; }
  $i: $i - 1;
}

#main_wrap {
	width: 100%;
}

#header_wrap { 
display: standard;
	width: 100%;
	@extend .c2;	
	.inner {}
	.outer {}
}

#slideshow_wrap {
	width: 100%;
	display: standard;
}

#menu_wrap {
	display: standard;
	@extend .c5;
	a {text-decoration: none;}
	li {float: left; text-align: center;}
}

#sidebar_left_wrap {
}

#main_content_wrap {
display: standard;
}

#table_wrap {
	display: standard;
	width: 90%;
}

#ace_wrap {
	@extend .c1;
	width: 75%;
}

#editor {
	position: absolute;
	width: 98%;
	height: 80%;
}

#footer_wrap {
display: standard;
}

img, object {
	max-width: 99.6%;
	width: 100%; /* for IE*/
	margin: 0.2%;
}
