[submodule "rack"]
	path = rack
	url = git://github.com/chneukirchen/rack.git
[submodule "github/rack"]
	path = github/rack
	url = git://github.com/chneukirchen/rack.git
[submodule "FooTable"]
	path = FooTable
	url = /var/www/appFlat/github/FooTable/
[submodule "github/FooTable"]
	path = github/FooTable
	url = https://github.com/bradvin/FooTable.git
[submodule "github/Font-Size-Responsive"]
	path = github/Font-Size-Responsive
	url = https://github.com/pavelkukov/Font-Size-Responsive-CSS.git
[submodule "github/cycle2"]
	path = github/cycle2
	url = https://github.com/malsup/cycle2.git
[submodule "github/stackedit"]
	path = github/stackedit
	url = https://github.com/benweet/stackedit.git
[submodule "github/ai"]
	path = github/ai
	url = https://github.com/MattWilcox/Adaptive-Images.git
[submodule "github/coverflow"]
	path = github/coverflow
	url = git://github.com/coverflowjs/coverflow.git
[submodule "sass/normalize.scss"]
	path = sass/normalize.scss
	url = https://github.com/kristerkari/normalize.scss.git
[submodule "sass/normalize"]
	path = sass/normalize
	url = https://github.com/kristerkari/normalize.scss.git
[submodule "github/html5reset"]
	path = github/html5reset
	url = https://github.com/murtaugh/HTML5-Reset.git
[submodule "github/cursor-reset"]
	path = github/cursor-reset
	url = https://gist.github.com/5247154.git
