@fudge hux bloo;
/* line 3, ../../sass/SCSS/at-stuff.scss */
div {
  color: red;
  @fudge {
    /* line 6, ../../sass/SCSS/at-stuff.scss */
    span {
      width: 10px;
    }
    /* line 8, ../../sass/SCSS/at-stuff.scss */
    span a {
      font: whatever;
    }
}

  height: 20px;
  @-webkit-keyframes SOMETHING {
    /* line 15, ../../sass/SCSS/at-stuff.scss */
    0% {
      opacity: 0;
    }

    /* line 16, ../../sass/SCSS/at-stuff.scss */
    50% {
      opacity: 0.5;
    }

    /* line 17, ../../sass/SCSS/at-stuff.scss */
    100% {
      opacity: 1.0;
    }
}

  @-webkit-keyframes BOUNCE {
    /* line 20, ../../sass/SCSS/at-stuff.scss */
    from {
      left: 0px;
    }

    /* line 23, ../../sass/SCSS/at-stuff.scss */
    to {
      left: 200px;
    }
}

}

/* line 29, ../../sass/SCSS/at-stuff.scss */
100% {
  opacity: 1.0;
  color: whatever;
}
/* line 32, ../../sass/SCSS/at-stuff.scss */
100%  50%  {
  opacity: 0.5;
  color: something else;
}

/* line 39, ../../sass/SCSS/at-stuff.scss */
div {
  border-upper-left: 10px;
  border-upper-right: 9px;
  border-lower-left: 8px;
  border-lower-right: 7px;
  background: gray;
}
/* line 40, ../../sass/SCSS/at-stuff.scss */
div span {
  font: whatever;
}

@fudge HEY, HOO, HA:first-child {
  color: blue;
}

@mudge div span, a:visited;
@fu dge foo {
  color: red;
}
