/* line 9, ../../sass/SCSS/functions-and-mixins.scss */
div {
  height: 5;
}
/* line 15, ../../sass/SCSS/functions-and-mixins.scss */
div span div {
  content: "hello";
  content: "hello";
  width: 8;
}
