/*
Syntax error: Invalid CSS after "  'grids'": expected ")", was ": (-1px: 12),"
        on line 5 of /var/www/appFlat/sass/SCSS/_singularitygs.scss
        from line 1 of /var/www/appFlat/sass/SCSS/isolation.scss

1: /var/www/appFlat/sass/SCSS/isolation.scss

Backtrace:
/var/www/appFlat/sass/SCSS/_singularitygs.scss:5
/var/www/appFlat/sass/SCSS/isolation.scss:1
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:1149:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/lexer.rb:196:in `expected!'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:483:in `assert_tok'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:433:in `paren'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:418:in `special_fun'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:413:in `raw'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:337:in `funcall'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:319:in `ident'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_not'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_div'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_minus'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_plus'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `plus_or_minus'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `relational'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `eq_or_neq'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `and_expr'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `or_expr'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:298:in `space'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:283:in `interpolation'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:246:in `expr'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:477:in `assert_expr'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/script/parser.rb:49:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:1022:in `sass_script'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:514:in `variable'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:543:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:147:in `recompile'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/inotify.rb:12:in `block in add_handler'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/notifier.rb:205:in `call'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/notifier.rb:205:in `block in watch'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/watcher.rb:41:in `[]'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/watcher.rb:41:in `callback!'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/event.rb:128:in `callback!'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/notifier.rb:238:in `block in process'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/notifier.rb:238:in `each'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/notifier.rb:238:in `process'
/var/lib/gems/1.9.1/gems/rb-inotify-0.9.3/lib/rb-inotify/notifier.rb:221:in `run'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/inotify.rb:20:in `run'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:87:in `perform'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.9.1/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/1.9.1/gems/compass-0.12.3/bin/compass:44:in `call'
/var/lib/gems/1.9.1/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  'grids'\": expected \")\", was \": (-1px: 12),\"\A         on line 5 of /var/www/appFlat/sass/SCSS/_singularitygs.scss\A         from line 1 of /var/www/appFlat/sass/SCSS/isolation.scss\A \A 1: /var/www/appFlat/sass/SCSS/isolation.scss"; }
