/* line 1, ../../sass/SCSS/keyframes.scss */
div {
  color: #181818;
}

@-webkit-keyframes uiDelayedFadeIn {
  /* line 6, ../../sass/SCSS/keyframes.scss */
  0% {
    opacity: 0;
  }

  /* line 7, ../../sass/SCSS/keyframes.scss */
  50% {
    opacity: .5;
  }

  /* line 8, ../../sass/SCSS/keyframes.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  /* line 12, ../../sass/SCSS/keyframes.scss */
  from {
    left: 0px;
  }

  /* line 15, ../../sass/SCSS/keyframes.scss */
  to {
    left: 200px;
  }
}

@-webkit-keyframes bounce {
  blah: blee;
}

/* line 32, ../../sass/SCSS/keyframes.scss */
foo div {
  color: red;
}

@-moz-document url-prefix() {
  /* line 39, ../../sass/SCSS/keyframes.scss */
  .fl {
    float: left;
    margin: 12px 4px 0 0;
    padding: 0;
    font-size: 65px;
    line-height: 62%;
    color: #ba1820;
  }

  /* line 47, ../../sass/SCSS/keyframes.scss */
  .fs {
    float: left;
    margin: 12px 4px 10px 0;
    padding: 0;
    font-size: 65px;
    line-height: 62%;
    color: #ba1820;
  }
}
