@media all and (min-width: 960px) {
  /* line 2, ../../sass/SCSS/media.scss */
  b {
    font-weight: normal;
  }
}
@media (min-width: 980px) {
  /* line 8, ../../sass/SCSS/media.scss */
  a {
    color: red;
  }
}
@media all {
  /* hey */
  /* line 15, ../../sass/SCSS/media.scss */
  p {
    color: blue;
  }
  /* line 17, ../../sass/SCSS/media.scss */
  p a {
    color: green;
  }
  /* line 19, ../../sass/SCSS/media.scss */
  p a:after {
    content: ">>";
  }

  /* line 24, ../../sass/SCSS/media.scss */
  span {
    display: inline-block;
  }
}
/* line 29, ../../sass/SCSS/media.scss */
a b c {
  /* a */
  blee: blee;
  /* b */
  /* c */
  /* d */
  blah: blah;
}
/* line 33, ../../sass/SCSS/media.scss */
a b c d e f {
  blah: blah;
  bloo: bloo;
}
@media print and (foo: 1 2 3), (bar: 3px hux(muz)), not screen {
  /* line 38, ../../sass/SCSS/media.scss */
  a b c g h, a b c i j {
    /* aa */
    hey: ho;
    /* bb */
    /* cc */
    haa: hoo;
    /* dd */
  }
  /* line 43, ../../sass/SCSS/media.scss */
  a b c g h k l m, a b c i j k l m {
    hee: fee;
  }
}

/* line 65, ../../sass/SCSS/media.scss */
body {
  border-color: "#ccc";
}
@media only screen and (max-width: 900px) and (min-width: 400px) {
  /* line 65, ../../sass/SCSS/media.scss */
  body {
    border-color: black;
  }
}

@media only screen and (max-width: 23) and (min-width: 45) {
  /* line 76, ../../sass/SCSS/media.scss */
  hey {
    ho: hoo;
  }
}
@media (max-width: 200) and (min-width: 100) {
  /* line 82, ../../sass/SCSS/media.scss */
  div {
    color: red;
  }
}
@media not blah and (width: 200px) {
  /* line 88, ../../sass/SCSS/media.scss */
  div {
    color: brown, blue, black;
  }
}
@media screen and (max-device-width: 500px) {
  /* line 100, ../../sass/SCSS/media.scss */
  foo {
    bar: "works";
  }
}
/* line 105, ../../sass/SCSS/media.scss */
div {
  color: red;
}
/* line 107, ../../sass/SCSS/media.scss */
div span {
  color: blue;
}
@media screen {
  /* line 110, ../../sass/SCSS/media.scss */
  div span p {
    color: green;
  }
}
