@media screen and (orientation: landscape) {
  /* line 2, ../../sass/SCSS/mixins-and-media-queries.scss */
  span {
    background: blue;
  }

  /* fudge */
  /* budge */
  /* line 8, ../../sass/SCSS/mixins-and-media-queries.scss */
  div {
    color: red;
  }
}
@media screen and (orientation: landscape) {
  /* crash */
  /* line 15, ../../sass/SCSS/mixins-and-media-queries.scss */
  p {
    width: 100px;
  }
}
