/* line 1, ../../sass/SCSS/nested-extend.scss */
.sprites-nav, .mw_nav_button[data-ur-state="disabled"] {
  color: red;
}

/* line 5, ../../sass/SCSS/nested-extend.scss */
.sprites-nav_up, .mw_nav_button[data-ur-state="enabled"] {
  color: green;
}

/* line 9, ../../sass/SCSS/nested-extend.scss */
.mw_nav_button {
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 0;
  overflow: hidden;
}
