/* line 1, ../../sass/SCSS/placeholder.scss */
foo bar.buz, hux baz.buz {
  color: red;
}

/* line 9, ../../sass/SCSS/placeholder.scss */
foo bar {
  width: 10px;
}

/* line 14, ../../sass/SCSS/placeholder.scss */
hux baz {
  height: 12px;
}
