@charset "UTF-8";
/*Style reset by Eric Meyer*/
/* line 55, ../sass/normalize/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../sass/normalize/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/normalize/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/normalize/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/normalize/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, ../sass/normalize/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/normalize/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/normalize/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/normalize/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../sass/normalize/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/normalize/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/normalize/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/normalize/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/normalize/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/normalize/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/normalize/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/normalize/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../sass/normalize/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/normalize/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/normalize/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 236, ../sass/normalize/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/normalize/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/normalize/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/normalize/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 277, ../sass/normalize/_normalize.scss */
small {
  font-size: 80%;
}

/* line 285, ../sass/normalize/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 292, ../sass/normalize/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 296, ../sass/normalize/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 348, ../sass/normalize/_normalize.scss */
img {
  border: 0;
}

/* line 357, ../sass/normalize/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 367, ../sass/normalize/_normalize.scss */
figure {
  margin: 0;
}

/* line 384, ../sass/normalize/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 395, ../sass/normalize/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 412, ../sass/normalize/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 425, ../sass/normalize/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 435, ../sass/normalize/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 450, ../sass/normalize/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/normalize/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 471, ../sass/normalize/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 483, ../sass/normalize/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 494, ../sass/normalize/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 502, ../sass/normalize/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 511, ../sass/normalize/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 522, ../sass/normalize/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
/* line 19, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 35, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Personal style*/
/* line 1, ../sass/_colors.scss */
.c1, #ace_wrap {
  background-color: #3d5c99;
  /*#3D5C99*/
  color: #FFFFA3;
  border-color: #FFFFA3;
}

/* line 6, ../sass/_colors.scss */
.c2, #header_wrap, #sidebar_left_wrap, nav a {
  background-color: #527acc;
  /*#527ACC*/
  color: #FFFF85;
}

/* line 10, ../sass/_colors.scss */
.c3, .browsehappy {
  background-color: #6699ff;
  /*#6699FF*/
  color: #FFFF66;
  border-color: #FFFF66;
}

/* line 15, ../sass/_colors.scss */
.c4, .header-container,
.footer-container,
.main aside, .ir {
  background-color: #85ADFF;
  color: #CCCC52;
}

/* line 19, ../sass/_colors.scss */
.c5, #menu_wrap {
  background-color: #A3C2FF;
  color: #99993D;
}

/* line 23, ../sass/_colors.scss */
.cf {
  background-color: lightgreen;
  color: green;
  border-color: green;
}

/* 
* max-width is the width of the target display area, e.g. the browser
* max-device-width is the width of the device's entire rendering area, i.e. the actual device screen
*
* “em unit is equal to the computed value of ‘font-size’ property of the element on which it is used.”
* “rem unit is equal to the computed value of ‘font-size’ on the root element.”
*/
/*Background with the 17 standard colors*/
/* Smartphones (portrait and landscape) ----------- aqua/lichtblauw*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: cyan;
    font-size: 3em;
  }
}
/* Smartphones (landscape) ----------- fuchsia/roze*/
@media only screen and (min-width: 321px) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: magenta;
    font-size: 3em;
  }

  /* line 28, ../sass/custom.scss */
  .footable {
    font-size: 1.0em;
  }
}
/* Smartphones (portrait) ----------- lime/groen*/
@media only screen and (max-width: 320px) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: lime;
    font-size: 3em;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: maroon;
    font-size: 4em;
  }
}
/* iPads (landscape) ----------- navy/donkerblauw*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: navy;
    font-size: 4em;
  }
}
/* iPads (portrait) ----------- olive/ donkergroen*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: olive;
    font-size: 3em;
  }
}
/* Desktops and laptops ----------- purple/paars*/
@media only screen and (min-width: 1224px) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: purple;
    font-size: 3em;
  }
}
/* Large screens ----------- silver/zilver*/
@media only screen and (min-width: 1920px) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: silver;
    font-size: 3em;
  }

  /* line 76, ../sass/custom.scss */
  .footable {
    font-size: 1.0em;
  }
}
/* iPhone 4 ----------- teal/????*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
  /* line 12, ../sass/custom.scss */
  #main_wrap {
    background-color: teal;
    font-size: 1em;
  }

  /* line 85, ../sass/custom.scss */
  .footable {
    font-size: 0.8em;
  }
}
/* Print styles
-------------------------------------------------------------------------------*/
/* line 8, ../sass/estyle.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
* max-width is the width of the target display area, e.g. the browser
* max-device-width is the width of the device's entire rendering area, i.e. the actual device screen
*
* “em unit is equal to the computed value of ‘font-size’ property of the element on which it is used.”
* “rem unit is equal to the computed value of ‘font-size’ on the root element.”
*/
/*Background with the 17 standard colors*/
/* Smartphones (portrait and landscape) ----------- aqua/lichtblauw*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 320px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: aque;
    font-size: 1em;
  }
}
/* Smartphones (landscape) ----------- fuchsia/roze*/
@media only screen and (min-width: 321px) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 320px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: magenta;
    font-size: 1em;
  }
}
/* Smartphones (portrait) ----------- lime/groen*/
@media only screen and (max-width: 320px) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 320px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: lime;
    font-size: 1em;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 960px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: maroon;
    font-size: 3em;
  }
}
/* iPads (landscape) ----------- navy/donkerblauw*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 960px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: navy;
    font-size: 3em;
  }
}
/* iPads (portrait) ----------- olive/ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 960px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: olive;
    font-size: 3em;
  }
}
/* Desktops and laptops ----------- purple/paars*/
@media only screen and (min-width: 1224px) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 1280px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: purple;
    font-size: 4em;
  }
}
/* Large screens ----------- silver/zilver*/
@media only screen and (min-width: 1824px) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 1920px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: silver;
    font-size: 6em;
  }
}
/* iPhone 4 ----------- teal/????*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
  /* line 12, ../sass/_breakpoints.scss */
  body {
    width: 320px;
  }

  /* line 13, ../sass/_breakpoints.scss */
  #main_wrap {
    background-color: red;
    font-size: 1em;
  }
}
/* line 18, ../sass/estyle.scss */
.cols-10 {
  width: 10%;
}

/* line 18, ../sass/estyle.scss */
.cols-9 {
  width: 11.11111%;
}

/* line 18, ../sass/estyle.scss */
.cols-8 {
  width: 12.5%;
}

/* line 18, ../sass/estyle.scss */
.cols-7 {
  width: 14.28571%;
}

/* line 18, ../sass/estyle.scss */
.cols-6 {
  width: 16.66667%;
}

/* line 18, ../sass/estyle.scss */
.cols-5 {
  width: 20%;
}

/* line 18, ../sass/estyle.scss */
.cols-4 {
  width: 25%;
}

/* line 18, ../sass/estyle.scss */
.cols-3 {
  width: 33.33333%;
}

/* line 18, ../sass/estyle.scss */
.cols-2 {
  width: 50%;
}

/* line 18, ../sass/estyle.scss */
.cols-1 {
  width: 100%;
}

/* line 22, ../sass/estyle.scss */
.cols-1 {
  background-color: red;
  float: left;
}

/* line 23, ../sass/estyle.scss */
.cols-2 {
  background-color: yellow;
  float: right;
}

/* line 25, ../sass/estyle.scss */
.floated {
  float: left;
  width: 50%;
}

/* line 30, ../sass/estyle.scss */
.container {
  width: 800px;
  max-width: 90%;
}

/* line 38, ../sass/estyle.scss */
#header_wrap {
  display: standard;
}

/* line 45, ../sass/estyle.scss */
#slideshow_wrap {
  display: standard;
}

/* line 49, ../sass/estyle.scss */
#menu_wrap {
  display: standard;
}
/* line 52, ../sass/estyle.scss */
#menu_wrap a {
  text-decoration: none;
}
/* line 53, ../sass/estyle.scss */
#menu_wrap li {
  float: left;
  text-align: center;
}

/* line 56, ../sass/estyle.scss */
.sidebar {
  display: standard;
}

/* line 60, ../sass/estyle.scss */
#sidebar_left_wrap {
  display: standard;
}

/* line 65, ../sass/estyle.scss */
#main_content_wrap {
  display: standard;
}

/* line 69, ../sass/estyle.scss */
#table_wrap {
  display: standard;
}

/* line 77, ../sass/estyle.scss */
#editor {
  position: absolute;
  width: 98%;
  height: 80%;
}

/* line 83, ../sass/estyle.scss */
#footer_wrap {
  display: standard;
}

/* line 87, ../sass/estyle.scss */
img, object {
  max-width: 99.6%;
  height: auto;
  /* for IE*/
  margin: 0.2%;
}

@media \0screen {
  /* line 95, ../sass/estyle.scss */
  img {
    width: auto;
    /* for ie 8 */
  }
}
/* line 100, ../sass/estyle.scss */
.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* line 109, ../sass/estyle.scss */
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 117, ../sass/estyle.scss */
.break-word {
  word-wrap: break-word;
}

/* line 121, ../sass/estyle.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 133, ../sass/estyle.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 137, ../sass/estyle.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 143, ../sass/estyle.scss */
textarea {
  resize: vertical;
}

/* line 147, ../sass/estyle.scss */
.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

/* line 154, ../sass/estyle.scss */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* line 158, ../sass/estyle.scss */
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */
/* line 167, ../sass/estyle.scss */
.header-container {
  border-bottom: 20px solid #e44d26;
}

/* line 172, ../sass/estyle.scss */
.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

/* line 182, ../sass/estyle.scss */
.title {
  color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
/* line 190, ../sass/estyle.scss */
nav ul {
  margin: 0;
  padding: 0;
}

/* line 195, ../sass/estyle.scss */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* line 208, ../sass/estyle.scss */
nav a:hover,
nav a:visited {
  color: white;
}

/* line 212, ../sass/estyle.scss */
nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */
/* line 220, ../sass/estyle.scss */
.main {
  padding: 30px 0;
}

/* line 224, ../sass/estyle.scss */
.main article h1 {
  font-size: 2em;
}

/* line 228, ../sass/estyle.scss */
.main aside {
  color: white;
  padding: 0px 5% 10px;
}

/* line 233, ../sass/estyle.scss */
.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
/* line 242, ../sass/estyle.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 274, ../sass/estyle.scss */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  /* line 282, ../sass/estyle.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 286, ../sass/estyle.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  /* line 294, ../sass/estyle.scss */
  nav ul li {
    display: inline;
  }

  /* line 298, ../sass/estyle.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* line 310, ../sass/estyle.scss */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  /* ============
      WIDE: Menu
     ============ */
  /* line 320, ../sass/estyle.scss */
  .title {
    float: left;
  }

  /* line 324, ../sass/estyle.scss */
  nav {
    float: right;
    width: 38%;
  }

  /* ============
      WIDE: Main
     ============ */
  /* line 333, ../sass/estyle.scss */
  .main article {
    float: left;
    width: 57%;
  }

  /* line 338, ../sass/estyle.scss */
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  /* line 350, ../sass/estyle.scss */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 360, ../sass/estyle.scss */
.ir {
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 367, ../sass/estyle.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 374, ../sass/estyle.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 379, ../sass/estyle.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 391, ../sass/estyle.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 400, ../sass/estyle.scss */
.invisible {
  visibility: hidden;
}

/* line 405, ../sass/estyle.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 410, ../sass/estyle.scss */
.clearfix:after {
  clear: both;
}

/* line 414, ../sass/estyle.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 423, ../sass/estyle.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 431, ../sass/estyle.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 435, ../sass/estyle.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 439, ../sass/estyle.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 445, ../sass/estyle.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 450, ../sass/estyle.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 455, ../sass/estyle.scss */
  thead {
    display: table-header-group;
  }

  /* line 460, ../sass/estyle.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 464, ../sass/estyle.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 474, ../sass/estyle.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 480, ../sass/estyle.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
