/* line 1, ../sass/_colors.scss */
.c1, .footable > tfoot > tr > th,
.footable > tfoot > tr > td, .footable .pagination > ul, .footable .pagination > ul > li > a:hover,
.footable .pagination > ul > li > a:focus,
.footable .pagination > ul > .active > a,
.footable .pagination > ul > .active > span, .footable .pagination > ul > .disabled > span,
.footable .pagination > ul > .disabled > a,
.footable .pagination > ul > .disabled > a:hover,
.footable .pagination > ul > .disabled > a:focus, .footable-odd {
  background-color: #3d5c99;
  /*#3D5C99*/
  color: #FFFFA3;
  border-color: #FFFFA3;
}

/* line 6, ../sass/_colors.scss */
.c2, .footable > tbody > tr:hover {
  background-color: #527acc;
  /*#527ACC*/
  color: #FFFF85;
}

/* line 10, ../sass/_colors.scss */
.c3, .footable.breakpoint > tbody > tr.footable-row-detail {
  background-color: #6699ff;
  /*#6699FF*/
  color: #FFFF66;
  border-color: #FFFF66;
}

/* line 15, ../sass/_colors.scss */
.c4, .footable > thead > tr > th,
.footable > thead > tr > td {
  background-color: #85ADFF;
  color: #CCCC52;
}

/* line 19, ../sass/_colors.scss */
.c5, .footable {
  background-color: #A3C2FF;
  color: #99993D;
}

/* line 23, ../sass/_colors.scss */
.cf {
  background-color: lightgreen;
  color: green;
  border-color: green;
}

/* line 3, ../sass/footable.standalone.scss */
.footable {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-family: 'trebuchet MS', 'Lucida sans', Arial;
}

/* line 14, ../sass/footable.standalone.scss */
.footable > thead > tr:first-child > th.footable-first-column,
.footable > thead > tr:first-child > td.footable-first-column {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

/* line 20, ../sass/footable.standalone.scss */
.footable > thead > tr:first-child > th.footable-last-column,
.footable > thead > tr:first-child > td.footable-last-column {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

/* line 26, ../sass/footable.standalone.scss */
.footable > thead > tr:first-child > th.footable-first-column.footable-last-column,
.footable > thead > tr:first-child > td.footable-first-column.footable-last-column {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

/* line 31, ../sass/footable.standalone.scss */
.footable > thead > tr > th {
  border-left: 1px solid;
  border-top: 1px solid;
  padding: 10px;
  text-align: left;
}

/* line 38, ../sass/footable.standalone.scss */
.footable > thead > tr > th,
.footable > thead > tr > td {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 53, ../sass/footable.standalone.scss */
.footable > thead > tr > th.footable-first-column,
.footable > thead > tr > td.footable-first-column {
  border-left: none;
}

/* line 59, ../sass/footable.standalone.scss */
.footable.breakpoint > tbody > tr.footable-row-detail > .footable-row-detail-cell {
  border-left: none;
}

/* line 62, ../sass/footable.standalone.scss */
.footable > tbody img {
  vertical-align: middle;
}

/* line 68, ../sass/footable.standalone.scss */
.footable > tbody > tr:last-child > td.footable-first-column {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

/* line 73, ../sass/footable.standalone.scss */
.footable > tbody > tr:last-child > td.footable-last-column {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

/* line 78, ../sass/footable.standalone.scss */
.footable > tbody > tr:last-child > td.footable-first-column.footable-last-column {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

/* line 83, ../sass/footable.standalone.scss */
.footable > tbody > tr > td {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 10px;
  text-align: left;
}

/* line 89, ../sass/footable.standalone.scss */
.footable > tbody > tr > td.footable-first-column {
  border-left: none;
}

/* line 93, ../sass/footable.standalone.scss */
.footable > tfoot > tr > th,
.footable > tfoot > tr > td {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  border-top: 1px solid #cccccc;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 10px;
}

/* line 108, ../sass/footable.standalone.scss */
.footable .pagination {
  margin: 20px 0;
}

/* line 111, ../sass/footable.standalone.scss */
.footable .pagination > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 123, ../sass/footable.standalone.scss */
.footable .pagination > ul > li {
  display: inline;
}

/* line 127, ../sass/footable.standalone.scss */
.footable .pagination > ul > li > a,
.footable .pagination > ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid;
  border-left-width: 0;
}

/* line 136, ../sass/footable.standalone.scss */
.footable .pagination > ul > li:first-child > a,
.footable .pagination > ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  border-left-width: 1px;
}

/* line 146, ../sass/footable.standalone.scss */
.footable .pagination > ul > li:last-child > a,
.footable .pagination > ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

/* line 161, ../sass/footable.standalone.scss */
.footable .pagination > ul > .active > a,
.footable .pagination > ul > .active > span {
  cursor: default;
}

/* line 168, ../sass/footable.standalone.scss */
.footable .pagination > ul > .disabled > span,
.footable .pagination > ul > .disabled > a,
.footable .pagination > ul > .disabled > a:hover,
.footable .pagination > ul > .disabled > a:focus {
  cursor: default;
}

/* line 172, ../sass/footable.standalone.scss */
.footable .pagination.pagination-centered {
  text-align: center;
}

/* line 175, ../sass/footable.standalone.scss */
.footable .pagination.pagination-right {
  text-align: center;
}
