html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (min-width: 960px) {
  #imageInhoud {
    width: 50%;
    height: 75%;
    min-height: 320px;
    float: right;
    position: relative;
  }

  #imageInhoud1 > div {
    color: black;
    background-color: white;
    background-image: url("/appFlat/images/1680_4320x3240_IMG_4462.JPG");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    min-height: 320px;
  }
}
html {
  color: #0052cc;
  background-color: #0066ff;
}

body {
  color: #003d99;
  background-color: #0052cc;
}

div {
  color: red;
  background-color: #0066ff;
}

#footer {
  color: #002966;
  background-color: #003d99;
  text-align: center;
}

.cols2-ri {
  width: 50%;
  height: 75%;
  min-height: 320px;
  float: right;
  position: relative;
}

#imageInhoud {
  clear: both;
}

#imageInhoud > div {
  color: black;
  background-color: white;
  background-image: url("/appFlat/images/1600x1200_lammeren.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  min-height: 320px;
}

.inhoud, #menuInhoud h1, #menuInhoud h2, #menuInhoud h3, #menuInhoud h4 {
  float: right;
  font-weight: bold;
}

#menuInhoud {
  color: black;
  background-color: white;
}
#menuInhoud h1 {
  color: orange;
  background-color: white;
  font-size: xx-large;
  margin: 5px 0px 5px 0px;
  clear: both;
}
#menuInhoud h2 {
  color: black;
  background-color: white;
  font-size: x-large;
  clear: both;
}
#menuInhoud h3 {
  color: red;
  background-color: white;
  font-size: large;
  margin: 4px;
}
#menuInhoud h4 {
  color: black;
  background-color: white;
  clear: both;
  font-weight: normal;
  margin: 0px 0px 5px 0px;
}
#menuInhoud h5 {
  color: blue;
}
#menuInhoud h6 {
  color: orange;
}

#slideshow {
  clear: both;
  height: 100px;
  position: relative;
  overflow: hidden;
}

#slideshow > div {
  height: 100%;
  width: 8128px;
  color: red;
  background-color: yellow;
  background-image: url("/appFlat/images/8128x608to1337x100.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-origin: border-box;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -webkit-animation: moveSlideshow 60s linear 2s infinite alternate;
  -moz-animation: moveSlideshow 60s linear 2s infinite alternate;
}

@-webkit-keyframes moveSlideshow {
  0% {
    left: 0;
  }

  100% {
    left: -500px;
  }
}
@-moz-keyframes moveSlideshow {
  0% {
    left: 0;
  }

  100% {
    left: -500px;
  }
}
img {
  width: 500px;
  height: 500px;
  background-color: red;
}

nav {
  height: 40px;
  width: 100%;
  background: #455868;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  border-bottom: 2px solid #283744;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 40px;
}

nav li {
  display: inline;
  float: left;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

nav a {
  color: #fff;
  display: inline-block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}

nav li a {
  border-right: 1px solid #576979;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav li:last-child a {
  border-right: 0;
}

nav a:hover, nav a:active {
  background-color: #8c99a4;
}

nav a#pull {
  display: none;
}

@media (min-width: 500px) {
  .foo:after {
    content: 'medium widths';
  }
}

@media (min-width: 30em) {
  .bar:after {
    content: 'medium widths measured in ems';
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .baz:after {
    content: 'medium, but not too wide';
  }
}

@media (min-height: 300px) and (max-height: 700px) {
  .tgif:after {
    content: 'medium heights';
  }
}

@media (max-width: 700px) {
  .wtf:after #imageInhoud {
    width: 50%;
    height: 75%;
    min-height: 320px;
    float: right;
    position: relative;
  }
  .wtf:after nav {
    height: auto;
  }
  .wtf:after nav ul {
    width: 100%;
    display: block;
    height: auto;
  }
  .wtf:after nav li {
    width: 50%;
    float: left;
    position: relative;
  }
  .wtf:after nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }
  .wtf:after nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }
}

@media (max-width: 700px) and (orientation: portrait) {
  .bbq:after {
    content: 'wide, portrait';
  }
}

@media (max-width: 700px) and (orientation: portrait) and (monochrome) {
  .zztop:after {
    content: 'wide, portrait, monochrome';
  }
}

@media (monochrome) {
  .csny:after {
    content: 'monochrome';
  }
}

@media (monochrome) {
  .elp:after {
    content: 'monochrome, print';
  }
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .omgdpr:after {
    content: 'hi resolutions';
  }
}

@media (min-width: 30em) and (max-width: 40em) {
  .rhcp:after {
    content: 'between 30 and 40ems';
  }
}

@media (max-width: 480px) {
  nav {
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  nav a#pull {
    display: block;
    background-color: #283744;
    width: 100%;
    position: relative;
  }

  nav a#pull:after {
    content: "";
    background: url("nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    rightright: 15px;
    top: 10px;
  }
}
@media (max-width: 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }

  nav li a {
    border-bottom: 1px solid #576979;
  }
}
#foo {
  background: red;
}
@media (min-width: 567px) {
  #foo {
    background: green;
  }
}
.no-mqs #foo {
  background: green;
}
