@import 'custom_buttons';

/* 
* max-width is the width of the target display area, e.g. the browser
* max-device-width is the width of the device's entire rendering area, i.e. the actual device screen
*
* “em unit is equal to the computed value of ‘font-size’ property of the element on which it is used.”
* “rem unit is equal to the computed value of ‘font-size’ on the root element.”
*/

/*Background with the 17 standard colors*/

@mixin bp($k, $no){
#main_wrap {background-color: $k; font-size: 1em * $no;}
} 

/* Smartphones (portrait and landscape) ----------- aqua/lichtblauw*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
@include bp(aqua,3);
}

/* Smartphones (landscape) ----------- fuchsia/roze*/
@media only screen 
and (min-width : 321px) {
/* Styles */
@include bp(fuchsia,3);
.footable {font-size: 1.0em; }
}

/* Smartphones (portrait) ----------- lime/groen*/
@media only screen 
and (max-width : 320px) {
/* Styles */
@include bp(lime,3);
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
@include bp(maroon,4);
}

/* iPads (landscape) ----------- navy/donkerblauw*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
@include bp(navy,4);
}

/* iPads (portrait) ----------- olive/ donkergroen*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
@include bp(olive,3);
}

/* Desktops and laptops ----------- purple/paars*/
@media only screen 
and (min-width : 1224px) {
/* Styles */
@include bp(purple,3);
}

/* Large screens ----------- silver/zilver*/
@media only screen 
and (min-width:1920px) {
/* Styles */
@include bp(silver,3);
.footable {font-size: 1.0em; }
}

/* iPhone 4 ----------- teal/????*/
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
@include bp(teal,1);
.footable {font-size: 0.8em; }
}

/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}

